html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--color-4);
  color: var(--black);
}
:root{
  --color-1: #5171ff;
  --color-1-1: #aaccff;
  --color-2: #006dfc;
  --color-2-1: #b0def8;
  --color-3: #ffae43;
  --color-4: #dae9ff;
  --black: #141414;
  --white: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
